{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @font-face {
            font-family: 'font1';
            src: url("{% static 'fonts/Vazir-Light.woff2' %} ") format('woff2'),
            url("{% static 'fonts/Vazir-Light.woff' %}") format('woff'),
            url("{% static 'fonts/Vazir-Light.ttf' %}") format('truetype'),
            url("{% static 'fonts/Vazir-Light.eot' %}");
        }
    </style>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}"> -->


    <title>{% block title %}{% endblock %}</title>
</head>
<body>



        {% block content %}
    
        {% endblock %}




    <!-- <link rel="stylesheet" href="{% static 'js/bootstrap.bundle.min.js' %}"> -->

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>