{% extends 'base.html' %}

{% block title %}
dasf
{% endblock %}





{% block content %}

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo">
            <i class='bx bxs-send bx-tada'></i>
            <div class="logo-name"><span>AFE</span>Lunch</div>
        </a>
        <ul class="side-menu">
            <li class='{% if request.resolver_match.url_name == "dashboard" %}active{% endif %}'><a href="{% url 'dashboard' %}"><i class='bx bxs-dashboard'></i>داشبورد</a></li>
            <li class='{% if request.resolver_match.url_name == "menulist" %}active{% endif %}'><a href="{% url 'menulist' %}"><i class='bx bx-message-dots'></i>لیست منوها</a></li>
            <li class='{% if request.resolver_match.url_name == "foodlist" %}active{% endif %}'><a href="{% url 'foodlist' %}"><i class='bx bx-shape-square'></i>لیست غذا ها</a></li>
            <li class=''><a href=""><i class='bx bx-book-content'></i>هزینه ها</a></li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="{% url 'logout' %}" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    خروج
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->
    
    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <form action="#" style="display: none;">
                <div class="form-input">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <span> <a class="btn-order-success" href="">رزرو منو جدید</a></span>
        </nav>

        <main>


        {% block pagecontent %}
                        
        {% endblock %} 

        </main>

    </div>





{% endblock %}