{% extends '../home.html' %}


{% block title %}
افزودن غذا
{% endblock %}



{% block pagecontent %}


<div class="bottom-data">
    <div class="orders">
        <div class="header">
            <h3>افزودن غذای جدید</h3>
        </div>
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
            
                <button type="submit">ذخیره</button>
            </form>
        </div>

    </div>
</div>


{% endblock %}