{% extends '../home.html' %}


{% block title %}
افزودن غذا
{% endblock %}



{% block pagecontent %}


<div class="bottom-data">
    <div class="orders">
        <div class="header">
            <h3>افزودن غذای جدید</h3>
        </div>
        <div>
            <form action="" method ="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                    <legend>افزودن غذا</legend>

                    <label for="">
                        نام غذا
                    </label class="form-input">
                    <input type="text" name="foodName" class="form-input">

                    <label for="">
                        توضیحات
                    </label class="form-input">
                    <input type="text" name="description" class="form-input">

                    <label for="">
                        قیمت
                    </label class="form-input">
                    <input type="text" name="price" class="form-input">

                    <label for="">
                        نوع غذا
                    </label class="form-input">
                    <select name="foodType" id="" class="form-input">
                        <option value="1">صبحانه</option>
                        <option value="2">نهار</option>
                    </select>

                    <label for="">
                        تصویر
                    </label class="form-input">
                    <input type="file" name="foodImage" class="form-input">

                    <button type="submit" class="form-input form-btn mx-1">افزودن</button>


                </fieldset>
            </form>
        </div>

    </div>
</div>


{% endblock %}