{% extends '../home.html' %}


{% block title %}
ایجاد منوی جدید
{% endblock %}



{% block pagecontent %}


<div class="bottom-data">
    <div class="orders">
        <div class="header">
            <h3>ساخت منوی جدید</h3>
        </div>
        <div>
            <form method="post" action="">
                {% csrf_token %}
                <div>
                    <label for="name" class="form-input">نام منو را وارد کنید</label>
                    <input type="text" name="name" id="name" class="form-input" required>
                </div>
                <div>
                    <label for="expire" class="form-input">زمان انقضاء را مشخص کنید</label>
                    <input type="datetime" name="expire" id="servedate" class="form-input servedate" required>
                </div>
                <div>
                    <label for="status" class="form-input">وضعیت منو</label>
                    <select name="status" id="status" class="form-input">
                        <option value="0">منو بسته است</option>
                        <option value="1">منو باز است</option>
                    </select>
                </div>
            
                <button type="submit" class="form-input form-btn">ذخیره</button>
            </form>
        </div>

    </div>
</div>


{% endblock %}