{% extends '../home.html' %}


{% block title %}

{% endblock %}



{% block pagecontent %}


<div class="bottom-data">
    <div class="maincard">
        <div class="orders">
            <div class="header">
                <h3>منوی باز</h3> 
                <span> <a class="btn-order" href=""> رزرو منو</a></span>
            </div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">نام</th>
                        <th scope="col">تاریخ ایجاد</th>
                        <th scope="col">تاریخ انقضاء</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            1
                        </td>

                        <td>
                            2
                        </td>
                        
                        <td>
                            3
                        </td>


                    </tr>

                    <!-- <tr>
                        <td>
                            <div class="no-content">
                                در حال حاضر منویی ایجاد نشده است 🕸
                            </div>
                        </td>
                    </tr> -->


                </tbody>
            </table>


        </div>
    </div>
    <div class="maincard">
        <div class="orders">
            <div class="header">
                <h3>مشاهده کل هزینه ها</h3> 
                <span> <a class="btn-order" href=""> مشاهده کل هزینه ها </a></span>
            </div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">هزینه این منو</th>
                        <th scope="col">هزینه این ماه</th>
                        <th scope="col">کل هزینه ها</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            2
                        </td>
                        <td>
                            3
                        </td>


                    </tr>

                    <!-- <tr>
                        <td>
                            <div class="no-content">
                                درحال حاضر چیزی برای نمایش وجود ندارد
                            </div>
                        </td>
                    </tr> -->


                </tbody>
            </table>


        </div>
    </div>
</div>


{% endblock %}