{% extends '../home.html' %}
{% load static %}


{% block title %}
لیست غذا ها
{% endblock %}



{% block pagecontent %}


<div class="bottom-data">
    <div class="orders">
        <div class="header">
            <h3>لیست غذا ها</h3>
            {% if request.user.is_superuser %}
                <span> <a class="btn-order" href="{% url 'createFood' %}">افزودن غذای جدید</a></span>
            {% endif %}
        </div>
        <table>
            <thead>
                <tr>
                    <th scope="col">نام</th>
                    <th scope="col">نوع</th>
                    <th scope="col">قیمت</th>
                    <th scope="col">تصویر</th>
                    <th scope="col">عملیات</th>
                </tr>
            </thead>
            <tbody>
                {% for food in all_food  %}
                <tr>
                    <td>
                        {{food.foodName}}
                    </td>
                    <td>
                        {% if food.foodType == 1 %}
                        صبحانه
                        {% elif food.foodType == 2 %}
                        نهار
                        {% endif %}
                    </td>
                    <td>
                        {{food.price}}
                    </td>                    
                    <td>
                        <img src="{% static '/images/' %}{{ food.foodImage }}" alt="" srcset="">
                    </td>
                    <td>
                        <span> <a class="btn-order-warning" href="{% url 'updateFood' food.id  %}">ویرایش</a></span>
                        <span> <a class="btn-order" href="">حذف</a></span>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>
                        <div class="no-content">
                            چیزی برای نمایش نیست !
                        </div>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        {% comment %} {% include 'panel/includes/pagination.html' with page=user_messages %} {% endcomment %}
    </div>
</div>


{% endblock %}