{% extends '../home.html' %}
{% load jalali_tags %}

{% block title %}
لیست منو ها
{% endblock %}



{% block pagecontent %}

<div class="bottom-data">
    <div class="orders">
        <div class="header">
            <h3>لیست منوها</h3>
            {% if request.user.is_superuser %}
                <span> <a class="btn-order" href="{% url 'createMenu' %}">ایجاد منوی جدید</a></span>
            {% endif %}
        </div>
        <table>
            <thead>
                <tr>
                    <th scope="col">نام</th>
                    <th scope="col">تاریخ ایجاد</th>
                    <th scope="col">انقضای منو</th>
                    <th scope="col">وضعیت</th>
                </tr>
            </thead>
            <tbody>
                {% for menu in all_menu  %}
                <tr>
                    <td>
                        {{menu.name}}
                    </td>
                    <td>
                        {{menu.createDate | to_jalali:'%y/%m/%d'}}
                    </td>
                    <td>
                        {{menu.expire | to_jalali:'%y/%m/%d'}}
                    </td>
                    <td>
                        {% if menu.status == 0 %}
                        <span class="btn-order-danger"> بسته</span>
                        {% elif   menu.status == 1 %}
                            {% if request.user.is_superuser %}
                            <span> <a class="btn-order" href="{% url 'add_item_menu' menu.id  %}">افزودن غذا</a></span>
                            <span> <a class="btn-order-warning" href="">ویرایش</a></span>
                            {% elif   request.user.is_authenticated %}
                            <span> <a class="btn-order" href="">رزرو این منو</a></span>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>
                        <div class="no-content">
                            چیزی برای نمایش نیست !
                        </div>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        {% comment %} {% include 'panel/includes/pagination.html' with page=user_messages %} {% endcomment %}
    </div>
</div>

{% endblock %}