{% extends '../home.html' %}
{% load jalali_tags %}

{% block title %}
لیست منو ها
{% endblock %}



{% block pagecontent %}

<div class="bottom-data">
    <div class="orders">
        <div class="header">
            <h3>فرم رزرو</h3>
        </div>
        <div>


            {% for item in item_menu%}
            <form action="">
                {{item.food}}
                <input type="text" name="" id="">
                {{item.menu}}
                {{item.date_of_serving}}
            </form>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}